/* Self-hosted fonts. Licenses:
   - Space Grotesk: SIL OFL 1.1 (https://github.com/floriankarsten/space-grotesk)
   - Inter: SIL OFL 1.1 (https://github.com/rsms/inter) — kept as fallback
   - JetBrains Mono: SIL OFL 1.1 (https://github.com/JetBrains/JetBrainsMono)
*/

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("/static/fonts/SpaceGrotesk-Variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/Inter-Variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/static/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
}
